body {
 font-family: 'Raleway', sans-serif;
 margin:0 auto;
 text-align:center;
}
ul {
 list-style-type: none;
 padding-left:0;
}

li {
  display:inline;
  padding: 20px;
}
a {
 text-decoration: none;
 color:rgb(35,79,30);
}
i{
 padding: 5px;
}
 a:hover{
 color:rgb(135,159,132);
}

header{
  position: fixed;
  right:0;
  top: 0;
  height: 50px;
  background-color: white;
  z-index:2;
  color:rgb(35,79,30);
  opacity: 0.9;
}
.home{
  display:flex;
  justify-content:center;
  height: 420px;
  color:white;
}
.title{
 align-self:center;
 margin-left: -40px;
 z-index:2;
}
.name{
 padding:15px;
 font-size: 30px;
 font-family: 'Shrikhand', cursive;
 background-color:rgb(135,159,132);
 font-weight:lighter;
}

.myImg {
 margin-top: 40px;
 border-radius:50%;
 width: 300px;
 margin-left: 50px;
 display:inline-block;
 z-index:1;
}

.shadow {
 width: 300px;
 height:300px;
 margin-top: 60px;
 border-radius:50%;
 background-color:rgba(135,159,132,0.5);
 position:absolute;
 z-index:-1;
}

.aboutImg{
 width: 100%;
 z-index:-1;
 left:0;
 opacity: 0.7;
 position:absolute;
}

.aboutCon{
 font-size:16px;
 color:white;
 display:flex;
 z-index:1;
 justify-content:center;
 flex-wrap:wrap;
}
.content{
  width:500px;
  border-radius:5px;
  padding:30px;
  line-height: 30px;
  background-color:rgba(35,79,30,0.7);
}

.skills{
  border-radius:5px;
  width:500px;
  padding:30px;
  background-color:rgba(135,159,132,0.8);
}

.imgSkill{
 width:100%;
}

#project{
  margin-top:50px;
  color:rgb(35,79,30);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.proHead{
 display:flex;
 justify-content:center;
 padding-top: 30px;
}

.proTitle{
 align-self:center;
}

.proImg{
 height:100px;
}

.p-all1, .p-all2{
 width: 80%;
 display:flex;
 margin:30px;
 justify-content:center;
 padding:20px;
 flex-wrap:wrap;
 line-height: 25px;
 min-width:300px;
 margin-left: auto;
 margin-right: auto;

}

.p-all1{
 border: 5px solid rgb(135,159,132);
 border-radius: 15px 50px;
}
.p-all2{
 border: 5px solid rgb(35,79,30);
 border-radius: 50px 15px;
}

.p-img{
 width:80%;
 max-width:550px;
 margin-right: 50px;
 margin-left: 10px;
}

.pro{
 width:80%;
 max-width:450px;
}
.overlay{
 text-align: left;
 margin-bottom: 30px;
}

.links{
 display:flex;
 justify-content:space-around;
 flex-wrap:wrap;
}

.btn{
  padding: 5px 10px;
  margin-bottom:5px;
  border-radius:5px;
}

.btn1{
 border: 2px solid #f19aa9;
}

.btn2{
 border: 2px solid rgb(135,159,132);
}

.tech{
 display:inline-block;
}
.conImg{
 width:100%;
 left:0;
 opacity: 0.7;
 position:absolute;
 z-index:-1;
 border-radius:50% 50% 0% 0%;
}

.conText{
 margin:50px;
 padding: 30px;
 z-index:1;
}

.message{
 width:30%;
 max-width:300px;
 position:absolute;
 z-index:-1;
}
.conTitle{
 padding-left:30px;
 display:inline-block;
}
.greeting{
 color: #f19aa9;
}
form{
 width:50%;
 min-width: 300px;
 margin-left:auto;
 margin-right:auto;
}
.c_ne{
 display: flex;
 justify-content: space-between;
 flex-wrap:wrap;
}

.c_name, .c_email{
 width: 45%;
 margin-right: 10px;
}


label, input, textarea{
 display:block;
 width:100%;
 height:30px;
 opacity:0.8;
 border: none;
 margin-bottom: 10px;
}
input{
 border-bottom: 3px solid #f19aa9;
}
textarea{
 height: 150px;
 border: 3px solid #f19aa9;
}
label{
 text-align:left;
 opacity:1;
 height:20px;
}

 textarea:focus,input:focus{
 border: 3px solid white;
 background-color: #f19aa9;
 opacity:0.6;
 outline: none;
}

button{
 display:block;
 font-size:16px;
 padding:10px 20px;
 background-color: #f19aa9;
 border: 3px solid white;
 opacity:0.8;
}

button:hover{
 background-color: white;
 border: 2px solid #f19aa9;
 opacity:0.8;
}

.social{
 margin: 20px;
}



@media screen and (max-width: 1000px){

.name{
 font-size: 25px;
}
.myImg {
 width: 250px;
 margin-top: 50px;
}
.shadow {
 width: 250px;
 height:250px;
 margin-top: 70px;
}
form{
 width:90%;
 min-width: 300px;

}
 .conImg{
 height: 600px;
}

}

@media screen and (max-width: 650px){
 .name{
 font-size: 20px;
}
.myImg {
 width: 200px;
}
.shadow {
 width: 200px;
 height:200px;
}
li {
  padding: 10px;
}

ul{
 margin-top:10px;
}
.conTitle, .greeting{
 font-size: 20px;
}
.conImg{
  height: 550px;
}

}

@media screen and (max-width: 490px){

header{
 font-size:14px;
 width:100%;
}
h2, .conTitle, .greeting{
font-size:16px;
}
body, .content p{
 font-size:12px;
 line-height: 20px;
}
.home{
 height:350px;
}
.content, .skills{
 padding: 10px;
}
 .name{
 font-size: 18px;
 padding: 5px 10px;
}
.role{
 font-size: 14px;
}
.aboutImg{
 min-height:300px;
 width:490px;
}
.myImg {
 max-width: 150px;
 width: 60%;
 margin-top: 60px;
}
.shadow {
 width: 0px;

}
li {
  padding: 10px;
}

ul{
 margin-top:10px;
}
#project{
 margin-top: 0px;
}
.proImg{
 height:60px;
}
.project2{
 margin-left:5px;
 margin-right:5px;
}
.p-all1, .p-all2{
 padding:10px;
 min-width: 260px;
 border-width: 2px;
}
.pro{
 width: 100%;
}

.conImg{
  height: 570px;
  width:490px;
  border-radius:0%;
}
.conText{
 margin: 10px;
 padding:10px;
}
form{
 width: 100%;
}

.c_name, .c_email{
 width: 100%;
}
button{
 font-size:14px;
 padding:5px 10px;
 border: 2px solid white;
}

}