body {
 font-family: 'Raleway', sans-serif;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
}
ul {
 float: right;
 list-style-type: none;
}

li {
  display:inline;
  padding: 20px;
}
a {
 text-decoration: none;
}
header{
  margin-bottom: 20px;
  height:40px;
}
.home{
  display:flex;
  justify-content:center;
  height:350px;
  color:white;
  margin:80px;
}
.title{
 align-self:center;
 margin-left: -40px;
 z-index:2;
}
.name{
 padding:15px;
 letter-spacing: 1px;
 font-family: 'Shrikhand', cursive;
 background-color:rgb(135,159,132);
 font-weight:lighter;
}

.myImg {
 border-radius:50%;
 width: 300px;
 margin-left: 50px;
 display:inline-block;
 z-index:1;
}

.shadow {
 width: 300px;
 height:300px;
 border-radius:50%;
 background-color:rgba(135,159,132,0.5);
 margin-top: 25px;
 position:absolute;
 z-index:-1;
}

.aboutImg{
 width: 100%;
 z-index:-2;
 left:0;
 opacity: 0.7;
 position:absolute;
}

.aboutCon{
 font-size:16px;
 color:white;
 display:flex;
 z-index:1;
 justify-content:space-around;
 flex-wrap:wrap;
}
.content{
  width:500px;
  border-radius:5px;
  padding:30px;
  line-height: 30px;
  background-color:rgba(35,79,30,0.7);
}

.skills{
  border-radius:5px;
  width:500px;
  padding:30px;
  background-color:rgba(135,159,132,0.8);
}

.imgSkill{
 width:100%;
}

#project{
  margin:50px;
  color:rgb(35,79,30);
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
.proHead{
 display:flex;
 justify-content:center;
 margin-top: 30px;
}

.proTitle{
 align-self:center;
}
.project2{
 margin:30px;
}

.proImg{
 height:100px;
}

.p-all1{
 display:flex;
 justify-content:flex-start;
 border: 5px solid rgb(135,159,132);
 border-radius: 15px 50px;
 padding:20px;
 flex-wrap:wrap;
}
.p-all2{
 display:flex;
 justify-content:flex-end;
 border: 5px solid rgb(35,79,30);
 border-radius: 50px 15px;
 padding:20px;
 flex-wrap:wrap;
}

.p-img{
 width:45%;
 margin-right: 50px;
}

.pro{
 width:45%;
}
.overlay{
 text-align: justify
}
.tech{
 display:inline-block;
}
.conImg{
 width:100%;
 left:0;
 opacity: 0.7;
 position:absolute;
 z-index:-1;
 border-radius:50% 50% 0% 0%;
}

.conText{
 margin:50px;
 padding: 30px;
 z-index:1;
}

.message{
 width:300px;
 position:absolute;
 z-index:-1;


}
.conTitle{
 padding-left:30px;
 display:inline-block;
}

form{
 width:60%;
 margin-left:auto;
 margin-right:auto;
}

label, input, textarea{
 display:block;
 width:100%;
 height:30px;
 margin: 10px;
 opacity:0.7;
}
textarea{
 height: 200px;
 opacity:0.7;
}
label, button{
 text-align:left;
 opacity:1;
}
