<!doctype html>
    <head>
        <title>Hsin Ling Hu</title>
        <meta charset="utf-8" />
        {{ fontawesome_html() }}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.8/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
      <header>
       <ul>
           <li><a href="#about">About<i class="fas fa-address-card"></i></a></li>
           <li><a href="#project">Project<i class="fas fa-pencil-ruler"></i></a></li>
           <li><a href="#contact">Contact<i class="fas fa-paper-plane"></i></a></li>
       </ul>
      </header>
      <section id="about">
          <img class="aboutImg" src="/static/images/grass.jpg" alt="About Background" />
          <div class="home">
               <div class="picture">
               <div class="shadow"></div>
               <img class="myImg" src="/static/images/personal.jpg" alt="Profile Image"/>
           </div>
           <div class="title">
               <h1 class="name">Hsin Ling Hu</h1>
               <h3 class="role">Full-Stack Developer</h3>
           </div>
          </div>
          <div class="aboutCon">
             <div class="content">
                <h2>About Me</h2>
                <p>I am a Greater Los Angeles based Full Stack Developer focused on crafting clean
                    & user-friendly experience.
                </p>
                <p>I was born and raised in Taiwan. My interests include outdoor activities, sports, a healthy diet, and movies.
                    I get personal satisfaction from solving what initially seemed like an unsolvable coding problem and it energizes me to become better and better.
                </p>
                <p>I  wish to be part of the team where teammates desire to unselfishly share their knowledge and help other developers improve. I strive to help teammates when they get stuck and take criticism well because I value team achievement more than personal.
                </p>
                </div>
             <div class="skills">
                <h2>My Skill</h2>
                <img  class="imgSkill" src="/static/images/skills2.png" alt="My Skills" />
             </div>
          </div>
        </section>
        <section id='project' >
            <div class="proHead">
                <h2 class="proTitle">Project</h2>
                <img  class="proImg" src="/static/images/project.png" alt="project">
            </div>
            <section class='thin project2'>
                <div class='p-all1'>
                    <img class='p-img' src="/static/images/sleep.png" alt="sleep-time-tracker project">
                    <div class='pro'>
                        <h2>Sleep Time Tracker</h2>
                        <p class="overlay">Have you waken up in the morning and felt restless? Did you wonder what was the length of your sleep yesterday? Or a day before?
                            Sleep time tracker is here to help! It calculates users' total hours of sleep and displays a message based on users' age and sleep hours.
                            This app is for users who want to track their daily sleep hours.
                            <span class="tech"><em>--HTML, CSS, Javascript, React, Node.js, Express, PostgreSQL, Knex, Mocha, Chai, Jest</em></span>
                        </p>
                        <div class="links">
                            <a href="https://sleep-time-tracker.now.sh" target="_blank" class='btn btn1'>Live Page</a>
                            <a href="https://github.com/hsinlinghu1101/Sleep-time-tracker-app.git" target="_blank" class='btn btn2 '>Github client</a>
                            <a href="https://github.com/hsinlinghu1101/Sleep-time-tracker-server.git" target="_blank" class='btn btn2 '>Github server</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class='thin project2'>
                <div class='p-all2'>
                    <img class='p-img' src="/static/images/sermos.png" alt="sermo project">
                    <div class='pro third'>
                        <h2>Sermo</h2>
                        <p class="overlay">Sermo is an app for learning new languages using spaced-repetition. App provides the user with a total of 10 words in Mandarine language one word at a time requesting the user to type the English translation.
                            The words appear more often when guessed incorrectly, and appear less often when guessed correctly. Users can create an account and keep track of their progress. It’s for users who want to learn the Mandarin language.
                            <span class="tech"><em>--HTML, CSS, Javascript, React, Node.js, Express, PostgreSQL, Cypress</em></span>
                        </p>
                        <div class="links">
                            <a href="https://sermo.now.sh" target="_blank" class='btn btn1'>Live Page</a>
                            <a href="https://github.com/thinkful-ei-leopard/spaced-repetition-client-daniel-hsin" target="_blank" class='btn btn2 '>Github client</a>
                            <a href="https://github.com/thinkful-ei-leopard/spaced-repetition-server-hsin-daniel" target="_blank" class='btn btn2 '>Github server</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class='thin project2'>
                <div class='p-all1'>
                    <img class='p-img' src="/static/images/memes.png" alt="Memestagram project">
                    <div class='pro third'>
                        <h2>Memestagram</h2>
                        <p class="overlay">Memes are one of the greatest symbols of social media so we built Memestagram as a memes only platform.
                            Users are able to create, share, and search for interesting memes and looks that are available on the platform.
                            It’s for users who are interested in memes.
                            <span class="tech"><em>--HTML, CSS, Javascript, React, Node.js, Express, PostgreSQL, Cloudinary</em></span>
                        </p>
                        <div class="links">
                            <a href="https://memestagram.now.sh/" target="_blank" class='btn btn1'>Live Page</a>
                            <a href="https://github.com/thinkful-ei-leopard/memestagram-client.git" target="_blank" class='btn btn2 '>Github client</a>
                            <a href="https://github.com/thinkful-ei-leopard/memestagram-api.git" target="_blank" class='btn btn2 '>Github server</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section id="contact">
            <img class="conImg" src="/static/images/flowers3.jpg" alt="Contact Me">
            <div class="conText">
                <div ><img class='message' src="/static/images/contact.png" alt="message"><h2 class="conTitle">Contact Me</h2></div>
                  {% if msg_sent %}
                     <h2 class="greeting" >You have successfully submitted your message!</h2>
                  {% else %}
                     <h2 class="greeting">Hi there! I'd like to hear from you :)</h2>
                  {% endif %}
                <form action="/" method="post">
                    <div class="c_ne">
                     <div class="c_name">
                         <label for="name">Your Name</label>
                         <input type="text" placeholder="Your Name" id="name" name="name" required>
                     </div>
                     <div class="c_email">
                         <label for="email">Your Email</label>
                         <input type="email" placeholder="Your Email" name="email" id="email" required>
                     </div>
                    </div>
                     <label for="subject">Subject</label>
                     <input type="text" placeholder="Subject" name="subject" id="subject" required>
                     <label for="message">Your Message</label>
                     <textarea type="text" placeholder="Your Message" name="message" id="message" required></textarea>
                     <button type="submit">Submit</button>
                </form>


            </div>
        </section>
        <footer>
            <a class="social" href="https://www.linkedin.com/in/hsinlinghu/" target="_blank" aria-label="Linkedin"><img src="/static/images/linkedin.png" alt="linkedin"></a>
            <a class="social" href="https://github.com/hsinlinghu1101" target="_blank" aria-label="Github"><img src="/static/images/github.png" alt="github"></a>
            <a class="social" href="mailto:hsinkava11@gmail.com" target="_blank" aria-label="Email"><img src="/static/images/gmail.png" alt="gmail"></a>
            <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
        </footer>
    </body>
</html>

<!--Photo by eberhard grossgasteiger from Pexels-->
<!--Photo by Pok Rie from Pexels-->